body {
    background: #fcfcfc;
}

@media (min-width: 0px) and (max-width: 400px){
    .site-header{
        width: 375px;
        
    }

    .py-2{
        padding-left: 0px;
        padding-right: 0px;
        font-size: 10px;
    }

    img#fokus-img{
        width: 320px;
    }
}
